<h1>Doctor dashboard!</h1>
<h2>Welcome, Dr. {{ user.first_name }} {{ user.last_name }}</h2>
<ul>
    <li><h3>Details: {{ user.user_type }}</h3></li>
    <li><h3>Email: {{ user.email }}</h3></li>
    <li><h3>Address: {{ user.address_line1 }}, {{ user.city }}, {{ user.state }}, {{ user.pincode }}</h3></li>
</ul>
<img src="{{ user.profile_picture.url }}" alt="">

{% if request.user.is_authenticated %}
<a class="py-8 px-2 text-gray-700 font-semibold" href="{% url 'logout' %}"><b>logout</b></a>
{% else %}
<a class="py-8 px-2 text-gray-700 font-semibold" href="{% url 'login' %}"><b>login</b></a>
{% endif %}